.navbar {
    background-color: #28a745;
    padding: 20px 25px;
    position: fixed;
    width: 100%;
justify-content: center;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays above other content */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    

.navbar-nav li {
    display: inline;

}
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

.navbar-nav a:hover {
    background-color: #218838;
    border-radius: 4px;
}

/* Adjust body margin to prevent content from being hidden behind the navbar */
body {
    margin-top: 70px; /* Adjust as needed depending on the height of your navbar */
}
